---

import car1 from "./../../assets/Galerii/Auto/galerii2.jpg"
import car2 from "./../../assets/Galerii/Auto/galerii3.jpg"
import { RiMoneyEuroCircleLine } from "react-icons/ri";
import { FaPeopleGroup } from "react-icons/fa6";
import { GiMartini } from "react-icons/gi";
import AutorentNavbarLayout from "../../layouts/AutorentNavbarLayout.astro";
import tekst from "../../assets/tekst.json"
export const prerender = true;
---

<AutorentNavbarLayout>
  <div class="flex items-center justify-center mx-12 mt-12">
    <hr class="flex-1 h-1 bg-charcoal-gray border-0 rounded my-4 md:my-2" />
    <h1 class="mx-4 font-Florentino font-bold text-center text-3xl">
      {tekst.Hinnakiri_tekst.toUpperCase()}
    </h1>
    <hr class="flex-1 h-1 bg-charcoal-gray border-0 rounded my-4 md:my-2" />
  </div>

  <div class="text-center font-SortsMillGoudy mt-2 mb-4">
    <p set:html={tekst.Autorent_hinnakirja_renditingimused}>
       
    </p>
  </div>

  <div class="flex flex-col lg:flex-row justify-center items-center md:mt-16">
    <!-- First Car Image -->
    <div class="p-2 mx-4">
      <img src={car1.src} alt="s-klass" class="md:h-[400px] md:w-auto object-contain rounded-2xl"/>
    </div>
  
    <!-- First Car Info -->
    <div class="p-2 text-left space-y-4 mb-12">
      <h2 class="text-2xl font-bold text-center">{tekst.Autorent_hinnakirja_s_klassi_pealkiri}</h2>
      <ul class="space-y-2" >
        <li class="flex items-center space-x-2"><RiMoneyEuroCircleLine/><span>{tekst.Autorent_hinnakirja_s_klassi_hinna_tekst}</span></li>
        <span class="text-sm">{tekst.Autorent_hinnakirja_s_klassi_hinna_alamtekst}</span>
        <li class="flex items-center space-x-2"><FaPeopleGroup/>{tekst.Autorent_hinnakirja_s_klassi_mahutuvuse_tekst}</li>
        <span class="text-sm">{tekst.Autorent_hinnakirja_s_klassi_mahutuvuse_alamtekst}</span>
        <li class="flex items-center space-x-2"><GiMartini/>{tekst.Autorent_hinnakirja_s_klassi_kujunduse_tekst}</li>
        <span class="text-sm">{tekst.Autorent_hinnakirja_s_klassi_kujunduse_alamtekst}</span>
      </ul>
    </div>
  
    <!-- Second Car Image -->
    <div class="p-2 mx-4">
      <img src={car2.src} alt="v-klass" class="md:h-[400px] md:w-auto object-contain rounded-2xl"/>
    </div>
  
    <!-- Second Car Info -->
    <div class="p-2 text-left space-y-4 mb-12">
      <h2 class="text-2xl font-bold text-center">{tekst.Autorent_hinnakirja_v_klassi_pealkiri}</h2>
      <ul class="space-y-2" >
        <li class="flex items-center space-x-2"><RiMoneyEuroCircleLine/><span>{tekst.Autorent_hinnakirja_v_klassi_hinna_tekst}</span></li>
        <span class="text-sm">{tekst.Autorent_hinnakirja_v_klassi_hinna_alamtekst}</span>
        <li class="flex items-center space-x-2"><FaPeopleGroup/><span>{tekst.Autorent_hinnakirja_v_klassi_mahutuvuse_tekst}</span></li>
        <span class="text-sm">{tekst.Autorent_hinnakirja_v_klassi_mahutuvuse_alamtekst}</span>
        <li class="flex items-center space-x-2"><GiMartini/><span>{tekst.Autorent_hinnakirja_s_klassi_kujunduse_tekst}</span></li>
        <span class="text-sm">{tekst.Autorent_hinnakirja_v_klassi_kujunduse_alamtekst}</span>
      </ul>
    </div>
  </div>
 
</AutorentNavbarLayout>