---
import DekoratsioonidNavbarLayout from "../../layouts/DekoratsioonidNavbarLayout.astro";
import tekst from "../../assets/tekst.json"
import deko1 from "./../../assets/Galerii/Dekoratsioonid/deko3.jpg"
import deko2 from "./../../assets/Galerii/Dekoratsioonid/deko4.jpg"
import deko3 from "./../../assets/Galerii/Dekoratsioonid/deko5.jpg"
export const prerender = true;
---

<DekoratsioonidNavbarLayout>
    <div class="flex items-center justify-center mx-12 mt-12">
        <hr class="flex-1 h-1 bg-charcoal-gray border-0 rounded my-4 md:my-2" />
        <h1 class="mx-4 font-Florentino font-bold text-center text-3xl">
          {tekst.Teenused_tekst.toUpperCase()}
        </h1>
        <hr class="flex-1 h-1 bg-charcoal-gray border-0 rounded my-4 md:my-2" />
      </div>
    
      <!-- Centralized Content Container -->
      <div class="max-w-4xl mx-auto px-4 font-SortsMillGoudy font-medium mb-12">
        <!-- Image and Text Pair 1 -->
        <div class="flex flex-col md:flex-row items-center mt-8">
          <p class="w-full md:w-1/2 p-4">
            {tekst.Dekoratsioonid_teenused_tekst1}
          </p>
          <img
            src={deko1.src}
            alt="Decoration 1"
            class="w-full md:w-1/2 h-64 object-cover rounded-lg"
          />
        </div>
    
        <!-- Image and Text Pair 2 -->
        <div class="flex flex-col md:flex-row items-center mt-8">
          <img
            src={deko2.src}
            alt="Decoration 2"
            class="w-full md:w-1/2 h-64 object-cover rounded-lg"
          />
          <p class="w-full md:w-1/2 p-4">
            {tekst.Dekoratsioonid_teenused_tekst2}
          </p>
        </div>
    
        <!-- Image and Text Pair 3 -->
        <div class="flex flex-col md:flex-row items-center mt-8">
          <p class="w-full md:w-1/2 p-4">
            {tekst.Dekoratsioonid_teenused_tekst3}
          </p>
          <img
            src={deko3.src}
            alt="Decoration 3"
            class="w-full md:w-1/2 h-64 object-cover rounded-lg"
          />
        </div>
      </div>
</DekoratsioonidNavbarLayout>